@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url('files/font/idroid.otf') format('opentype');
    font-weight: normal;
}

/*
paleta de verde

- #c5ebd6
- #83e1ad
- #3ddc84
- #2fa866
- #1a5c37
- #063d1e

*/

:root{
--cor0:#c5ebd6;
--cor1:#83e1ad;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4:#1a5c37;
--cor5:#063d1e;

--fonte-padrao: Arial, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-android:'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);

}


a.external::after{
content:'\00A0\1F517';

}

#android{
background-color: var(--cor2);
}
header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header > h1{
color: white;
font-family: var(--fonte-destaque);
margin-bottom: 20px;
font-size:3em ;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);

}

header >  p {
color: white;
font-family: var(--fonte-padrao);
font-size: 1.2em;
max-width: 500px;
padding-right:10px;
padding-left: 10px;
margin: auto;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);
}

nav{
background-color: var(--cor5);
padding: 10px;
box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.329);

}

nav > a {
color: white;
padding: 10px;
text-decoration: none;
font-weight: bold;
border-radius: 5px;
transition-duration:.5s ;
}

a:hover{
background-color: var(--cor3);
color:var(--cor4) ;

}


main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
    border-radius: 0px 0px 10px 10px;
}

main h1{
color: var(--cor4);
font-family: var(--fonte-android);
}

main h2{
font-family: var(--fonte-android);
color: var(--cor4);
font-size: 1.3em;
background-image: linear-gradient(to right,var(--cor1),transparent);
text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height:2em;
    font-size:  1em;

}

main img{
width: 100%;

}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    color: var(--cor5);
    padding:2px 6px ;

}

main a:hover{
text-decoration: underline;
color: var(--cor4);

}
main img.pequena{
    max-width :350px;
    display: block;
    margin: auto;
}

.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
}

.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}


aside{
    background-color: var(--cor1);  
    padding: 10px;
    border-radius: 10px;
    box-shadow:3px 3px 8px rgba(0, 0, 0, 0.342);
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style-type:'\2714\00A0\00A0'; /*emoji check -espaço-espaço*/
    list-style-position: inside;
    columns: 2;
}
footer{
    color: white;
    background-color: var(--cor5);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}